<header>
  <div class="uk-container uk-container-expand uk-padding-remove">
    <div
      class="uk-background-default"
      uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"
    >
      <nav class="uk-background-default uk-margin-left" uk-navbar>
        <div class="uk-navbar-left uk-flex-nowrap">
          <a
            data-test="logo"
            class="uk-navbar-item uk-logo uk-padding-remove-left"
          >
            <img src="favicon.ico" width="40" />
          </a>
        </div>

        <div
          data-test="search"
          class="uk-navbar-left uk-width-5-6@s uk-width-large@m"
        >
          <form
            class="uk-search uk-search-default uk-box-shadow-small uk-card-hover uk-width-5-6"
          >
            <span uk-search-icon></span>
            <input
              class="uk-search-input"
              type="search"
              placeholder="Anywhere • Homes"
            />
          </form>
        </div>
        <div class="uk-navbar-right">
          <ul
            data-test="menu"
            class="uk-navbar-nav uk-visible@m uk-margin-right"
          >
            <li><a href="">Become a host</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Sign up</a></li>
            <li><a href="">Login</a></li>
          </ul>
        </div>
      </nav>

      <hr class="uk-margin-small uk-margin-remove-top" />

      <div class="uk-flex uk-flex-nowrap uk-grid-small uk-margin-left">
        <div data-test="home-type" class="uk-padding-remove-left">
          <button
            class="uk-button uk-button-default uk-button-small uk-text-nowrap"
          >
            Home type
          </button>
        </div>
        <div data-test="dates">
          <button
            class="uk-button uk-button-default uk-button-small uk-text-nowrap"
          >
            Dates
          </button>
        </div>
        <div data-test="guests">
          <button
            class="uk-button uk-button-default uk-button-small uk-text-nowrap"
          >
            Guests
          </button>
        </div>
        <div data-test="price">
          <button
            class="uk-button uk-button-default uk-button-small uk-text-nowrap"
          >
            Price
          </button>
        </div>
        <div data-test="rooms">
          <button
            class="uk-button uk-button-default uk-button-small uk-text-nowrap"
          >
            Rooms and beds
          </button>
        </div>
        <div data-test="amenities">
          <button
            class="uk-button uk-button-default uk-button-small uk-text-nowrap"
          >
            Amenities
          </button>
        </div>
      </div>

      <hr class="uk-margin-small uk-margin-remove-bottom" />
    </div>
  </div>
</header>
